@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {
    /* COLOR */
    --main-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 100%);
    --second-text-color: hsla(0, 0%, 100%, 0.65);
}

.root-wrapper {
    width: 100vw;
    height: 100vh;
}

/* home */
section.home {
    color: white;

    display: flex;
}

.home-text-content p {
    opacity: 0.6;
}

.home-text-content i {
    font-size: 4.571em;
    font-weight: 800;
}

@media screen and (min-width: 768px) {
    .home-text-content i {
        font-size: 8em;
    }
}

/* contacts */
section#contacts {
    height: calc(100vh - 60px);
}

@media screen and (min-width: 768px) {
    section#contacts{
        height: calc(100vh - 80px);
    }
}

/* projects */
section#projects {
    height: calc(100vh - 60px);
}

section#projects > div {
    scrollbar-color: transparent;
}

@media screen and (min-width: 768px) {
    section#projects{
        height: calc(100vh - 80px);
    }
}