nav a {
    display: inline-block;

    color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
    nav a {
        color: rgba(255, 255, 255, 0.65);
    }

    nav a:hover {
        color: white;
        font-weight: 500;
        border: white;
    }
}